In [15]:
import pandas as pd
import numpy as np
df = pd.read_csv('jantojun2020.csv', dtype=object)
existing = pd.read_csv('airlines-corgis.csv')

In [16]:
df.head(5).iloc[:,0:]

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2020,1,1,1,3,1/1/2020,WN,5888,N951WN,ONT,...,95.0,122.0,74.0,363,2,8.0,0.0,27.0,0.0,33.0
1,2020,1,1,1,3,1/1/2020,WN,6276,N467WN,ONT,...,90.0,92.0,71.0,363,2,NaN,NaN,NaN,NaN,NaN
2,2020,1,1,1,3,1/1/2020,WN,4598,N7885A,ONT,...,70.0,68.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
3,2020,1,1,1,3,1/1/2020,WN,4761,N551WN,ONT,...,75.0,75.0,63.0,333,2,NaN,NaN,NaN,NaN,NaN
4,2020,1,1,1,3,1/1/2020,WN,5162,N968WN,ONT,...,80.0,67.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN

In [17]:
existing.head(5)
existing.iloc[0:5, 7:]

#existing['Statistics.Carriers.Names'].str.split(",", expand=True)
#Tells me max number of airlines
#existing['Statistics.Carriers.Names'].str.split(",", expand=True).notna().cumsum(axis=1).max(axis=1).max()

,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,Statistics.# of Delays.Weather,Statistics.Carriers.Names,Statistics.Carriers.Total,Statistics.Flights.Cancelled,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,1275,3217,17,328,"American Airlines Inc.,JetBlue Airways,Contine...",11,216,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,495,685,3,66,"American Airlines Inc.,Alaska Airlines Inc.,Co...",14,138,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,477,389,8,78,"American Airlines Inc.,Continental Air Lines I...",11,29,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,472,735,2,54,"American Airlines Inc.,Continental Air Lines I...",11,73,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,268,487,4,58,"American Airlines Inc.,Alaska Airlines Inc.,Co...",13,74,1100,18,5321,6513,13775,13712,20999,120,52747,4141

In [18]:
#Start similar dataframe from new data
new = pd.DataFrame()
new['Airport.Code'] = df["ORIGIN"]

#Create dictionary of airport codes : airport names
codes = pd.Series(existing['Airport.Name'].values, existing['Airport.Code'].values).to_dict()

#Add airport names to the new dataframe
L = list(codes.keys()) + list(codes.values())
new['Airport.Name'] = new['Airport.Code'].str.extract('(' + '|'.join(L) + ')', expand=False).replace(codes)

In [19]:
#Add date information
new['Time.Label'] = df['YEAR'] + '/0' + df['MONTH']
new['Time.Month'] = df['MONTH']
months = {'1':'January', '2':'February', '3':'March', '4':'April', '5':'May', '6':'June'}
new['Time.Month Name'] = new['Time.Month'].replace(months)
new['Time.Year'] = df['YEAR']

#Create dataframe that will hold info about each individual flight
new_indiv = new.copy(deep=True)

#Ignore flights from airports not in original dataset
new = new.dropna(subset=['Airport.Name'])

#Reduce rows to one for each Airport.Code/Time.Label combo (like exisiting dataframe)
new = new.drop_duplicates(subset=['Airport.Code', 'Time.Label'])

In [20]:
#Copy over data from jantojun2020... Currently in delay per minutes
new_indiv['Statistics.# of Delays.Carrier'] = df['CARRIER_DELAY']
new_indiv['Statistics.# of Delays.Late Aircraft'] = df['LATE_AIRCRAFT_DELAY']
new_indiv['Statistics.# of Delays.National Aviation System'] = df['NAS_DELAY']
new_indiv['Statistics.# of Delays.Security'] = df['SECURITY_DELAY']
new_indiv['Statistics.# of Delays.Weather'] = df['WEATHER_DELAY']

#Replace all delays of 0.0 minutes (no delays) with 0, otherwise replace with 1 (meaning there was a delay)
new_indiv['Statistics.# of Delays.Carrier'] = [1 if float(x) > 0.0 else 0 for x in new_indiv['Statistics.# of Delays.Carrier']]
new_indiv['Statistics.# of Delays.Late Aircraft'] = [1 if float(x) > 0.0 else 0 for x in new_indiv['Statistics.# of Delays.Late Aircraft']]
new_indiv['Statistics.# of Delays.National Aviation System'] = [1 if float(x) > 0.0 else 0 for x in new_indiv['Statistics.# of Delays.National Aviation System']]
new_indiv['Statistics.# of Delays.Security'] = [1 if float(x) > 0.0 else 0 for x in new_indiv['Statistics.# of Delays.Security']]
new_indiv['Statistics.# of Delays.Weather'] = [1 if float(x) > 0.0 else 0 for x in new_indiv['Statistics.# of Delays.Weather']]

In [21]:
#Create dict to map airline codes to names
airlines = {'AA':'American Airlines Inc.', 'AS':'Alaska Airlines Inc.', 'B6':'JetBlue Airways', 
            'DL':'Delta Air Lines Inc.', 'F9':'Frontier Airlines Inc.', 'G4': np.nan, 'HA':'Hawaiian Airlines Inc.',
            'NK':'Spirit Air Lines', 'UA':'United Air Lines Inc.', 'WN': 'Southwest Airlines Co.'}

#Transfer over airline names
new_indiv['Statistics.Carriers.Names'] = df['MKT_UNIQUE_CARRIER']

#Replace airline codes with names. Allegiant airlines not in original dataset, so its name is repalced with NaN
new_indiv['Statistics.Carriers.Names'] = new_indiv['Statistics.Carriers.Names'].replace(airlines)
pd.set_option('display.max_rows', 10)

In [24]:
#Transfer cancelled flights data
new_indiv['Statistics.Flights.Cancelled'] = df['CANCELLED'].astype('int64')

#Add delayed flights data (1=Delayed, 0=Not Delayed)
df['DEP_DELAY_NEW'] = df['DEP_DELAY_NEW'].astype('float64')
new_indiv['Statistics.Flights.Delayed'] = [1 if x > 0 else 0 for x in df['DEP_DELAY_NEW']]
#[x if y == 0 else 0 for x in new_indiv['Statistics.Flights.Delayed'] for y in new_indiv['Statistics.Flights.Cancelled']]

#No data in the new dataset on diverted or on-time flights
#We cannot account for diverted, but we will count on-time as being neither cancelled or delayed
#(1 = On-Time, 0 = Not On-Time)
new_indiv['Statistics.Flights.On Time'] = new_indiv['Statistics.Flights.Cancelled'] + new_indiv['Statistics.Flights.Delayed']
new_indiv['Statistics.Flights.On Time'] = new_indiv['Statistics.Flights.On Time'].replace(2, 1)
new_indiv['Statistics.Flights.On Time'] = [1-x for x in new_indiv['Statistics.Flights.On Time']]

#Every flight that is cancelled has its delay status set to 0 (for sake of not double-counting in totals)
new_indiv.loc[new_indiv['Statistics.Flights.Cancelled'] > 0, 'Statistics.Flights.Delayed'] = 0

In [26]:
#Transfer data of minutes of delays over
new_indiv['Statistics.Minutes Delayed.Carrier'] = df['CARRIER_DELAY']
new_indiv['Statistics.Minutes Delayed.Late Aircraft'] = df['LATE_AIRCRAFT_DELAY']
new_indiv['Statistics.Minutes Delayed.National Aviation System'] = df['NAS_DELAY']
new_indiv['Statistics.Minutes Delayed.Security'] = df['SECURITY_DELAY']
new_indiv['Statistics.Minutes Delayed .Weather'] = df['WEATHER_DELAY']
new_indiv

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,Statistics.# of Delays.Weather,Statistics.Carriers.Names,Statistics.Flights.Cancelled,Statistics.Flights.Delayed,Statistics.Flights.On Time,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed .Weather
0,ONT,NaN,2020/01,1,January,2020,1,1,1,0,0,Southwest Airlines Co.,0,1,0,8.0,33.0,27.0,0.0,0.0
1,ONT,NaN,2020/01,1,January,2020,0,0,0,0,0,Southwest Airlines Co.,0,0,1,NaN,NaN,NaN,NaN,NaN
2,ONT,NaN,2020/01,1,January,2020,0,0,0,0,0,Southwest Airlines Co.,0,0,1,NaN,NaN,NaN,NaN,NaN
3,ONT,NaN,2020/01,1,January,2020,0,0,0,0,0,Southwest Airlines Co.,0,1,0,NaN,NaN,NaN,NaN,NaN
4,ONT,NaN,2020/01,1,January,2020,0,0,0,0,0,Southwest Airlines Co.,0,1,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,SEA,"Seattle, WA: Seattle/Tacoma International",2020/06,6,June,2020,0,0,0,0,0,Alaska Airlines Inc.,0,0,1,NaN,NaN,NaN,NaN,NaN
2745843,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2020/06,6,June,2020,0,0,0,0,0,Alaska Airlines Inc.,0,0,1,NaN,NaN,NaN,NaN,NaN
2745844,SEA,"Seattle, WA: Seattle/Tacoma International",2020/06,6,June,2020,0,0,0,0,0,Alaska Airlines Inc.,0,0,1,NaN,NaN,NaN,NaN,NaN
2745845,SNA,NaN,2020/06,6,June,2020,0,0,0,0,0,Alaska Airlines Inc.,0,0,1,NaN,NaN,NaN,NaN,NaN
2745846,HNL,NaN,2020/06,6,June,2020,0,0,0,0,0,Alaska Airlines Inc.,0,0,1,NaN,NaN,NaN,NaN,NaN

In [27]:
pd.set_option('display.max_rows', None)
#Drop and ignore and flights that are at airports not in the original dataset
new_indiv = new_indiv.dropna(subset=['Airport.Name'])

#Sort "new" df entries by data, then by airport
new = new.sort_values(['Time.Label', 'Airport.Code'])

#Adding total carrier delay info for each airport/data combo entry
delays_car = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.# of Delays.Carrier'].sum())
new['Statistics.# of Delays.Carrier'] = delays_car

#Adding total late aircraft delay info for each airport/data combo entry
delays_late = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.# of Delays.Late Aircraft'].sum())
new['Statistics.# of Delays.Late Aircraft'] = delays_late

#Adding total national aviation system delay info for each airport/data combo entry
delays_nas = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.# of Delays.National Aviation System'].sum())
new['Statistics.# of Delays.National Aviation System'] = delays_nas

#Adding total security delay info for each airport/data combo entry
delays_sec = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.# of Delays.Security'].sum())
new['Statistics.# of Delays.Security'] = delays_sec

#Adding total weather delay info for each airport/data combo entry
delays_wthr = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.# of Delays.Weather'].sum())
new['Statistics.# of Delays.Weather'] = delays_wthr

In [48]:
pd.set_option('display.max_rows', None)
#Added as a placeholder for now
new['Statistics.Carriers.Names'] = ''

#Add number of carriers for each airport/date combo 
carriers = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.Carriers.Names'].nunique())
new['Statistics.Carriers.Total'] = carriers

##Add flights delayed for each airport/date combo 
cancelled = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.Flights.Cancelled'].sum())
new['Statistics.Flights.Cancelled'] = cancelled

#Add flights cancelled for each airport/date combo
delays = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Statistics.Flights.Delayed'].sum())
new['Statistics.Flights.Delayed'] = delays

#Diverted flights arent in new dataset, so set to null
new['Statistics.Flights.Diverted'] = np.nan

#Placeholder for now
new['Statistics.Flights.On Time'] = ''

#Add total number of flights for each airport/date combo
totals = list(new_indiv.groupby(['Time.Label', 'Airport.Code'])['Airport.Name'].count())
new['Statistics.Flights.Total'] = totals

In [12]:
test = new.dropna(subset=['Airport.Name'])
test.reset_index(inplace=True)
test = test.drop('index', axis=1)
test['Time.Month'], test['Time.Year'] = [df['MONTH'], df['YEAR']]
test

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,Statistics.# of Delays.Weather,Statistics.Carriers.Names,Statistics.Carriers.Total
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2020/01,1,January,2020,1860,1039,1443,6,377,,8
1,BOS,"Boston, MA: Logan International",2020/01,1,January,2020,746,409,796,1,37,,9
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2020/01,1,January,2020,592,391,474,4,19,,8
3,CLT,"Charlotte, NC: Charlotte Douglas International",2020/01,1,January,2020,2119,2046,2383,31,189,,7
4,DCA,"Washington, DC: Ronald Reagan Washington National",2020/01,1,January,2020,756,982,948,4,40,,7
5,DEN,"Denver, CO: Denver International",2020/01,1,January,2020,1574,1171,1220,8,129,,8
6,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",2020/01,1,January,2020,2592,2273,2038,10,525,,7
7,DTW,"Detroit, MI: Detroit Metro Wayne County",2020/01,1,January,2020,869,327,910,1,160,,8
8,EWR,"Newark, NJ: Newark Liberty International",2020/01,1,January,2020,1413,1324,1419,11,59,,7
9,FLL,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",2020/01,1,January,2020,737,564,715,15,23,,8
10,IAD,"Washington, DC: Washington Dulles International",2020/01,1,January,2020,504,291,507,5,70,,6
11,IAH,"Houston, TX: George Bush Intercontinental/Houston",2020/01,1,January,2020,968,627,833,1,71,,7
12,JFK,"New York, NY: John F. Kennedy International",2020/01,1,January,2020,663,419,693,2,56,,5
13,LAS,"Las Vegas, NV: McCarran International",2020/01,1,January,2020,892,710,858,2,15,,9
14,LAX,"Los Angeles, CA: Los Angeles International",2020/01,1,January,2020,1402,892,1401,6,60,,9
15,LGA,"New York, NY: LaGuardia",2020/01,1,January,2020,741,970,874,2,57,,7
16,MCO,"Orlando, FL: Orlando International",2020/01,1,January,2020,1055,840,876,19,29,,8
17,MDW,"Chicago, IL: Chicago Midway International",2020/01,1,January,2020,536,319,293,0,20,,2
18,MIA,"Miami, FL: Miami International",2020/01,1,January,2020,711,499,584,7,30,,4
19,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",2020/01,1,January,2020,964,305,1278,1,128,,8
20,ORD,"Chicago, IL: Chicago O'Hare International",2020/01,1,January,2020,2676,2268,3686,1,876,,7
21,PDX,"Portland, OR: Portland International",2020/01,1,January,2020,443,328,520,1,19,,9
22,PHL,"Philadelphia, PA: Philadelphia International",2020/01,1,January,2020,746,733,829,2,86,,8
23,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2020/01,1,January,2020,1094,887,1015,25,20,,9
24,SAN,"San Diego, CA: San Diego International",2020/01,1,January,2020,321,353,489,7,11,,9
25,SEA,"Seattle, WA: Seattle/Tacoma International",2020/01,1,January,2020,1507,1134,1581,22,183,,9
26,SFO,"San Francisco, CA: San Francisco International",2020/01,1,January,2020,995,798,1152,3,54,,8
27,SLC,"Salt Lake City, UT: Salt Lake City International",2020/01,1,January,2020,602,313,781,4,82,,7
28,TPA,"Tampa, FL: Tampa International",2020/01,1,January,2020,405,407,347,0,25,,8
29,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2020/02,1,February,2020,2318,2010,1996,5,671,,8
30,BOS,"Boston, MA: Logan International",2020/02,1,February,2020,899,695,1285,3,86,,9
31,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2020/02,1,February,2020,541,458,474,7,17,,8
32,CLT,"Charlotte, NC: Charlotte Douglas International",2020/02,1,February,2020,2480,2801,2845,33,447,,7
33,DCA,"Washington, DC: Ronald Reagan Washington National",2020/02,1,February,2020,869,1137,1073,4,39,,7
34,DEN,"Denver, CO: Denver International",2020/02,1,February,2020,2079,1468,2945,11,324,,8
35,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",2020/02,1,February,2020,2264,1652,1734,6,90,,7
36,DTW,"Detroit, MI: Detroit Metro Wayne County",2020/02,1,February,2020,1055,480,1469,0,207,,8
37,EWR,"Newark, NJ: Newark Liberty International",2020/02,1,February,2020,1363,1418,1649,6,51,,7
38,FLL,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",2020/02,1,February,2020,727,588,756,24,23,,8
39,IAD,"Washington, DC: Washington Dulles International",2020/02,1,February,2020,498,332,493,0,37,,6
40,IAH,"Houston, TX: George Bush Intercontinental/Houston",2020/02,1,February,2020,1031,564,906,2,47,,7
41,JFK,"New York, NY: John F. Kennedy International",2020/02,1,February,2020,607,382,661,7,14,,5
42,LAS,"Las Vegas, NV: McCarran International",2020/02,1,February,2020,615,652,652,14,22,,9
43,LAX,"Los Angeles, CA: Los Angeles International",2020/02,1,February,2020,1102,727,945,9,49,,9
44,LGA,"New York, NY: LaGuardia",2020/02,1,February,2020,900,1268,1290,1,81,,7
45,MCO,"Orlando, FL: Orlando International",2020/02,1,February,2020,1090,1003,1151,11,15,,8
46,MDW,"Chicago, IL: Chicago Midway International",2020/02,1,February,2020,411,298,307,2,18,,2
47,MIA,"Miami, FL: Miami International",2020/02,1,February,2020,611,449,599,2,34,,4
48,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",2020/02,1,February,2020,610,308,753,0,198,,8
49,ORD,"Chicago, IL: Chicago O'Hare International",2020/02,1,February,2020,2353,2538,3230,1,852,,7
50,PDX,"Portland, OR: Portland International",2020/02,1,February,2020,278,178,369,6,15,,9
51,PHL,"Philadelphia, PA: Philadelphia International",2020/02,1,February,2020,823,1014,979,8,77,,8
52,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2020/02,1,February,2020,875,715,716,10,7,,9
53,SAN,"San Diego, CA: San Diego International",2020/02,1,February,2020,253,265,309,2,3,,9
54,SEA,"Seattle, WA: Seattle/Tacoma International",2020/02,1,February,2020,1029,686,910,7,113,,9
55,SFO,"San Francisco, CA: San Francisco International",2020/02,1,February,2020,823,565,823,6,54,,8
56,SLC,"Salt Lake City, UT: Salt Lake City International",2020/02,1,February,2020,520,358,651,0,165,,7
57,TPA,"Tampa, FL: Tampa International",2020/02,1,February,2020,424,523,527,5,17,,8
58,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2020/03,1,March,2020,1172,564,990,5,57,,8
59,BOS,"Boston, MA: Logan International",2020/03,1,March,2020,565,296,744,3,21,,9
60,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2020/03,1,March,2020,317,216,424,3,5,,8
61,CLT,"Charlotte, NC: Charlotte Douglas International",2020/03,1,March,2020,1247,971,1441,14,21,,7
62,DCA,"Washington, DC: Ronald Reagan Washington National",2020/03,1,March,2020,418,400,515,2,7,,7
63,DEN,"Denver, CO: Denver International",2020/03,1,March,2020,1097,978,1272,1,103,,8
64,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",2020/03,1,March,2020,1655,1535,1716,5,307,,7
65,DTW,"Detroit, MI: Detroit Metro Wayne County",2020/03,1,March,2020,581,265,543,1,35,,8
66,EWR,"Newark, NJ: Newark Liberty International",2020/03,1,March,2020,801,728,1092,0,9,,7
67,FLL,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",2020/03,1,March,2020,404,250,440,4,6,,8
68,IAD,"Washington, DC: Washington Dulles International",2020/03,1,March,2020,280,116,428,0,9,,6
69,IAH,"Houston, TX: George Bush Intercontinental/Houston",2020/03,1,March,2020,594,388,598,0,48,,7
70,JFK,"New York, NY: John F. Kennedy International",2020/03,1,March,2020,419,152,538,5,8,,5
71,LAS,"Las Vegas, NV: McCarran International",2020/03,1,March,2020,605,831,605,6,6,,9
72,LAX,"Los Angeles, CA: Los Angeles International",2020/03,1,March,2020,721,605,737,2,23,,9
73,LGA,"New York, NY: LaGuardia",2020/03,1,March,2020,343,370,472,1,16,,7
74,MCO,"Orlando, FL: Orlando International",2020/03,1,March,2020,623,411,638,7,1,,8
75,MDW,"Chicago, IL: Chicago Midway International",2020/03,1,March,2020,238,138,226,2,0,,2
76,MIA,"Miami, FL: Miami International",2020/03,1,March,2020,403,244,379,2,5,,4
77,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",2020/03,1,March,2020,415,200,404,3,24,,8
78,ORD,"Chicago, IL: Chicago O'Hare International",2020/03,1,March,2020,1437,1142,1733,5,126,,7
79,PDX,"Portland, OR: Portland International",2020/03,1,March,2020,227,160,332,0,50,,9
80,PHL,"Philadelphia, PA: Philadelphia International",2020/03,1,March,2020,476,448,593,3,18,,8
81,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2020/03,1,March,2020,794,881,725,6,47,,9
82,SAN,"San Diego, CA: San Diego International",2020/03,1,March,2020,202,237,303,1,8,,9
83,SEA,"Seattle, WA: Seattle/Tacoma International",2020/03,1,March,2020,746,528,761,3,19,,9
84,SFO,"San Francisco, CA: San Francisco International",2020/03,1,March,2020,433,373,428,2,11,,8
85,SLC,"Salt Lake City, UT: Salt Lake City International",2020/03,1,March,2020,418,331,477,2,22,,7
86,TPA,"Tampa, FL: Tampa International",2020/03,1,March,2020,271,226,331,2,1,,8
87,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2020/04,1,April,2020,354,61,585,1,11,,8
88,BOS,"Boston, MA: Logan International",2020/04,1,April,2020,72,14,64,0,3,,8
89,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2020/04,1,April,2020,66,30,87,0,0,,8
90,CLT,"Charlotte, NC: Charlotte Douglas International",2020/04,1,April,2020,222,65,132,1,33,,7
91,DCA,"Washington, DC: Ronald Reagan Washington National",2020/04,1,April,2020,58,27,42,0,0,,7
92,DEN,"Denver, CO: Denver International",2020/04,1,April,2020,217,60,230,0,17,,8
93,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",2020/04,1,April,2020,363,110,261,4,38,,7
94,DTW,"Detroit, MI: Detroit Metro Wayne County",2020/04,1,April,2020,210,67,256,1,26,,8
95,EWR,"Newark, NJ: Newark Liberty International",2020/04,1,April,2020,46,11,15,0,0,,7
96,FLL,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",2020/04,1,April,2020,59,15,39,4,3,,8
97,IAD,"Washington, DC: Washington Dulles International",2020/04,1,April,2020,61,12,29,3,2,,6
98,IAH,"Houston, TX: George Bush Intercontinental/Houston",2020/04,1,April,2020,95,21,55,0,35,,7
99,JFK,"New York, NY: John F. Kennedy International",2020/04,1,April,2020,54,5,24,0,1,,4
100,LAS,"Las Vegas, NV: McCarran International",2020/04,1,April,2020,67,33,19,0,1,,8
101,LAX,"Los Angeles, CA: Los Angeles International",2020/04,1,April,2020,111,39,28,0,1,,9
102,LGA,"New York, NY: LaGuardia",2020/04,1,April,2020,26,9,1,0,0,,7
103,MCO,"Orlando, FL: Orlando International",2020/04,1,April,2020,107,39,78,0,15,,8
104,MDW,"Chicago, IL: Chicago Midway International",2020/04,1,April,2020,75,20,38,1,0,,2
105,MIA,"Miami, FL: Miami International",2020/04,1,April,2020,102,20,77,0,7,,4
106,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",2020/04,1,April,2020,113,36,209,0,7,,8
107,ORD,"Chicago, IL: Chicago O'Hare International",2020/04,1,April,2020,213,53,117,0,29,,7
108,PDX,"Portland, OR: Portland International",2020/04,1,April,2020,34,8,11,0,0,,8
109,PHL,"Philadelphia, PA: Philadelphia International",2020/04,1,April,2020,116,42,72,2,6,,8
110,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2020/04,1,April,2020,139,56,75,0,0,,8
111,SAN,"San Diego, CA: San Diego International",2020/04,1,April,2020,40,17,8,0,0,,8
112,SEA,"Seattle, WA: Seattle/Tacoma International",2020/04,1,April,2020,100,13,38,1,1,,8
113,SFO,"San Francisco, CA: San Francisco International",2020/04,1,April,2020,60,10,5,0,0,,8
114,SLC,"Salt Lake City, UT: Salt Lake City International",2020/04,1,April,2020,119,31,82,1,4,,7
115,TPA,"Tampa, FL: Tampa International",2020/04,1,April,2020,50,29,56,1,9,,8
116,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2020/05,1,May,2020,252,48,249,0,6,,8
117,BOS,"Boston, MA: Logan International",2020/05,1,May,2020,56,16,36,0,1,,8
118,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2020/05,1,May,2020,108,41,46,0,1,,7
119,CLT,"Charlotte, NC: Charlotte Douglas International",2020/05,1,May,2020,273,93,147,2,70,,7
120,DCA,"Washington, DC: Ronald Reagan Washington National",2020/05,1,May,2020,16,8,14,0,1,,7
121,DEN,"Denver, CO: Denver International",2020/05,1,May,2020,174,52,116,1,6,,8
122,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",2020/05,1,May,2020,559,167,411,3,30,,7
123,DTW,"Detroit, MI: Detroit Metro Wayne County",2020/05,1,May,2020,116,12,87,1,5,,8
124,EWR,"Newark, NJ: Newark Liberty International",2020/05,1,May,2020,26,6,9,0,0,,6
125,FLL,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",2020/05,1,May,2020,38,21,22,0,15,,7
126,IAD,"Washington, DC: Washington Dulles International",2020/05,1,May,2020,51,6,28,1,5,,5
127,IAH,"Houston, TX: George Bush Intercontinental/Houston",2020/05,1,May,2020,99,37,71,1,33,,7
128,JFK,"New York, NY: John F. Kennedy International",2020/05,1,May,2020,27,3,26,0,0,,4
129,LAS,"Las Vegas, NV: McCarran International",2020/05,1,May,2020,83,29,51,0,0,,8
130,LAX,"Los Angeles, CA: Los Angeles International",2020/05,1,May,2020,97,23,49,6,0,,9
131,LGA,"New York, NY: LaGuardia",2020/05,1,May,2020,14,7,2,0,0,,6
132,MCO,"Orlando, FL: Orlando International",2020/05,1,May,2020,61,31,38,0,45,,8
133,MDW,"Chicago, IL: Chicago Midway International",2020/05,1,May,2020,56,25,28,0,2,,2
134,MIA,"Miami, FL: Miami International",2020/05,1,May,2020,53,6,23,0,23,,4
135,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",2020/05,1,May,2020,80,10,51,0,1,,8
136,ORD,"Chicago, IL: Chicago O'Hare International",2020/05,1,May,2020,227,98,170,0,64,,7
137,PDX,"Portland, OR: Portland International",2020/05,1,May,2020,33,9,23,1,3,,8
138,PHL,"Philadelphia, PA: Philadelphia International",2020/05,1,May,2020,55,24,33,1,6,,8
139,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2020/05,1,May,2020,146,33,85,2,0,,8
140,SAN,"San Diego, CA: San Diego International",2020/05,1,May,2020,25,17,9,0,0,,8
141,SEA,"Seattle, WA: Seattle/Tacoma International",2020/05,1,May,2020,149,22,92,0,11,,9
142,SFO,"San Francisco, CA: San Francisco International",2020/05,1,May,2020,73,12,19,0,0,,8
143,SLC,"Salt Lake City, UT: Salt Lake City International",2020/05,1,May,2020,103,25,86,0,6,,7
144,TPA,"Tampa, FL: Tampa International",2020/05,1,May,2020,31,16,17,0,2,,8
145,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2020/06,1,June,2020,389,96,361,2,9,,8
146,BOS,"Boston, MA: Logan International",2020/06,1,June,2020,80,25,77,1,15,,8
147,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2020/06,1,June,2020,353,264,129,0,60,,7
148,CLT,"Charlotte, NC: Charlotte Douglas International",2020/06,1,June,2020,342,126,243,6,117,,7
149,DCA,"Washington, DC: Ronald Reagan Washington National",2020/06,1,June,2020,91,60,68,5,22,,7
150,DEN,"Denver, CO: Denver International",2020/06,1,June,2020,506,190,330,1,84,,8
151,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",2020/06,1,June,2020,762,263,606,5,108,,6
152,DTW,"Detroit, MI: Detroit Metro Wayne County",2020/06,1,June,2020,132,16,98,0,4,,8
153,EWR,"Newark, NJ: Newark Liberty International",2020/06,1,June,2020,70,13,38,0,6,,7
154,FLL,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood...",2020/06,1,June,2020,89,51,63,1,11,,7
155,IAD,"Washington, DC: Washington Dulles International",2020/06,1,June,2020,95,13,143,1,72,,5
156,IAH,"Houston, TX: George Bush Intercontinental/Houston",2020/06,1,June,2020,171,47,168,0,97,,6
157,JFK,"New York, NY: John F. Kennedy International",2020/06,1,June,2020,63,9,65,2,5,,4
158,LAS,"Las Vegas, NV: McCarran International",2020/06,1,June,2020,259,124,155,1,7,,8
159,LAX,"Los Angeles, CA: Los Angeles International",2020/06,1,June,2020,141,40,114,1,0,,9
160,LGA,"New York, NY: LaGuardia",2020/06,1,June,2020,50,20,32,0,1,,6
161,MCO,"Orlando, FL: Orlando International",2020/06,1,June,2020,120,76,96,1,75,,8
162,MDW,"Chicago, IL: Chicago Midway International",2020/06,1,June,2020,190,132,103,2,51,,1
163,MIA,"Miami, FL: Miami International",2020/06,1,June,2020,109,15,92,0,40,,4
164,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",2020/06,1,June,2020,124,25,134,0,12,,7
165,ORD,"Chicago, IL: Chicago O'Hare International",2020/06,1,June,2020,337,105,337,0,211,,6
166,PDX,"Portland, OR: Portland International",2020/06,1,June,2020,91,34,84,1,0,,7
167,PHL,"Philadelphia, PA: Philadelphia International",2020/06,1,June,2020,99,30,64,0,1,,7
168,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2020/06,1,June,2020,232,78,107,1,2,,8
169,SAN,"San Diego, CA: San Diego International",2020/06,1,June,2020,53,34,37,0,1,,8
170,SEA,"Seattle, WA: Seattle/Tacoma International",2020/06,1,June,2020,266,49,140,0,7,,9
171,SFO,"San Francisco, CA: San Francisco International",2020/06,1,June,2020,92,25,32,2,2,,8
172,SLC,"Salt Lake City, UT: Salt Lake City International",2020/06,1,June,2020,220,45,121,1,45,,7
173,TPA,"Tampa, FL: Tampa International",2020/06,1,June,2020,51,51,65,1,20,,8